.bg-custom {
  background-color: #eaf2fa;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Lobster", cursive;
}
.nav-profile-section button {
  font-size: 1.3rem;
}
.dropdown-menu {
  margin-right: 3rem !important;
}

.log-out-nav-item {
  text-decoration: none;
  font-size: 2rem;
}
.profile-img {
  cursor: pointer;
}
